<!--@Todo lost css files-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="overflow-x: hidden;"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <!--框架必需start-->
    <script type="text/javascript" src="../static/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="../static/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="../static/quickui/libs/js/framework.js"></script>
    <link href="../static/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" id="skin" prepath="/quickui/" href="../static/quickui/libs/skins/mintgreen/style.css">
    <link rel="stylesheet" type="text/css" id="customSkin" href="../static/quickui/system/main/mint/style.css">
    <!--框架必需end-->
    <script>
        function customHeightSet(contentHeight){
            $(".noPageBg").height(contentHeight);
        }
    </script>
</head>
<body style="background-color: rgb(255, 255, 255); font-size: 14px;" class="contentStyle">
<div class="error_404">

    <h2>非常遗憾，您访问的页面不存在！</h2>
    <p></p>
    <div class="reindex"><a class="reindexBtn">返回首页</a></div>

</div>

<div id="cursorMessageDiv" style="display: none;">&nbsp;</div></body></html>